body {
    background-color:#121212 ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

#login {
    height: 100vh;
}

.container > img {
    display: flex;
    align-items: center;
  
    margin-top: 10%;
   

}

.inscris {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    width: 80%;
   
}

.login {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 400px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.enter {
    display:flex;
   padding-top: 25px;
    height: 40px;
}
.color {
 
    background-color: #1ED760;
    align-items: center;
    font-weight:bolder;
    color: #FEFFFE;
  
}

    
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color:#FEFFFE; 
    display: flex; 
    justify-content: center;
    padding-top: 3%;

}

