body {
    background-color:#121212 ;
}

.container > img {
    width: 200px;
    height: 200px;
    display: block; 
    margin: auto;
    margin-top: 10%;
   

}

.inscris {
    display: flex;
    justify-content: center;
    padding-top: 2%;
    width: 20%;
   
}

.login {
    height: 30px;
}


.enter {
    display:flex;
   padding-top: 25px;
    height: 40px;
    
  
  
  
   
}
.color {
 
    background-color: #1ED760;
    align-items: center;
    font-weight:bolder;
    color: #FEFFFE;
  
}

    
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    color:#FEFFFE; 
    display: flex; 
    justify-content: center;
    padding-top: 3%;
    font-weight:bolder;
    font-size:x-large;
    

}

